.sendmsg {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	float: right;
}

.top_message, .linkein_txt {
	text-align: center;
	text-shadow: 0px 3px 5px #555;
	font-size: 17px;
	padding: 10px;
	
}

.button {
text-align: center;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
box-shadow: 0px 3px 5px #000;
-moz-box-shadow: 0px 3px 5px #000;
-webkit-box-shadow: 0px 3px 5px #000;

}
.button:active {
position:relative;
top:3px;
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}

.blast_trial_header h4{
	font-size: 30px;
	text-shadow: 1px 2px 1px #3f3f3f;
	padding: 10px;
	text-decoration: underline;
}

.HL{
      font-weight:bold;
	  animation:HL 0.5s infinite;
      -webkit-animation:HL 0.5s infinite; /* Safari and Chrome */
   }

@keyframes HL{
   from {color:yellow;}
   to {color:blue;}
}

@-webkit-keyframes HL /* Safari and Chrome */{
   from {color:yellow;}
   to {color:blue;}
}
	
.a-btn{
    position: relative;
    transition: all 0.3s linear;
}
.a-btn span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    transition: all 0.3s linear;
}
.a-btn span:nth-child(1), 
.a-btn span:nth-child(3){
	position: absolute;
    top: 5px;
    left: 2px;
    opacity: 0;
	font-size: 18px;
}
.a-btn span:nth-child(1){
    opacity: 0.2;
}

.a-btn:hover span:nth-child(3){
    opacity: 1; 
}
.a-btn:hover span:nth-child(2){
	transform: scale(0);
    opacity: 0; 
}
.a-btn:hover span:nth-child(1){
    animation: rotate 1s linear; 
}

@-webkit-keyframes rotate{
    0% { transform: scale(1) rotate(0);}
    50% { transform: scale(0.5) rotate(180deg);}
    100% { transform: scale(1) rotate(360deg);}
}	
	
.info_message {
	text-align:center;
	width: 35%;
	float: left;
	margin: 5px;
}

.form_details {
			width: 60%;
			float: right;
			margin-left: 20px;
			text-align:left;
}
		
#filterSearchBox {
	float: left;
	width:90%;
}

#selectall, #unselectall,
#selectrec {
	cursor:pointer;
	font-size:13px;
}

._loader img{
	margin-left:240px;
	margin-top:100px;		
}
.names_item{
	font-size:10px;
}
.hidden{
	display:none ;
}

.unhide{
	text-align:right;
	color:navy;
	cursor:pointer;
}

.unhide:hover{
	text-decoration:underline;
}

.linkeinbtn{
	margin-top:24px;
	margin-left:170px;
	margin-bottom:30px;
}

.sendmsg:hover{
	cursor:pointer;
}

#connectionsdata .loader img{
	margin-left:240px;
}

label{
	font-size:14px;
	font-weight:bold;
	display:block;
	padding: 0 10px 10px 0;
}

.search_label{
	float:left;
}

.gray{
	color:gray;
}

.sgray{
	color:gray;
	font-size:9px;
	padding-left:13px;
}


.sent,
.status{
	width:560px;
	font-size:130%;
}

.err{
	color:red;
}

.confirm{
	text-align:center;
	width:560px;
}



.confirmationaccept {
background:#e5f7e3 url(../images/check.gif) no-repeat;
background-position:7px 7px;
border:1px solid #c5e1c8;
font-weight:700;
color:#005e20;
width:220px;
padding:8px 8px 8px 28px;
margin-left:140px;
margin-top:180px;
}

.confirmationerror {
background:#ffebeb url(../images/x.gif) no-repeat;
background-position:7px 7px;
border:1px solid #f5c1c2;
font-weight:100;
color:#9e0b0f;
width:300px;
padding:8px 8px 8px 28px;
text-align;center;
margin-left:140px;
margin-top:180px;
}

.confirmationwarning {
background:#fffeeb url(../images/warning.gif) no-repeat;
background-position:7px 7px;
border:1px solid #e6e5d8;
font-weight:700;
color:#555;
width:300px;
padding:8px 8px 8px 28px;
}

.confirmationquestion {
background:#e8f8fe url(../images/question.gif) no-repeat;
background-position:7px 7px;
border:1px solid #cfdfe5;
font-weight:700;
color:#004a80;
width:300px;
padding:8px 8px 8px 28px;
}

input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

textarea {
	width:100%;
	height:110px;
}

.search{
	position:absolute;
	margin-top:-4px;
}

.sending{
	margin-left:240px;
}

#subject, #filterSearchBox {
	width:100%;
}

#sendmsg {
	width: 100%;
}

.search{
	position:absolute;
	margin-top:-4px;
}

#connectionsdata .loader img{
	margin-left:240px;
}

	/* Desktop 960 */
	@media only screen and (min-width: 960px) {		
	} 
	
	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
	
		.info_message, .form_details {
			text-align:left;
			width: 90%;
			float: none;
			margin: 5px;
		}

		.top_message, .linkein_txt {
			font-size: 11px;
			text-align:left;
		}
		
		#subtitle .container  .sixteen h3 {
			font-size: 18px;
		}

		.blast_trial_header h4{
			font-size: 16px;
		}
		
		#selectall, #unselectall,
		#selectrec {
			font-size:8px;
		}
				
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.top_message, .linkein_txt {
			font-size: 11px;
		}
		
		#subtitle .container  .sixteen h3 {
			font-size: 18px;
		}

		.blast_trial_header h4{
			font-size: 16px;
		}
		
		.form_details {
			display: block;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.top_message, .linkein_txt {
			font-size: 11px;
		}
		
		#subtitle .container  .sixteen h3 {
			font-size: 18px;
		}

		.blast_trial_header h4{
			font-size: 16px;
		}
		
		.form_details {
			display: block;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.top_message, .linkein_txt {
			font-size: 11px;
		}
		
		#subtitle .container  .sixteen h3 {
			font-size: 18px;
		}

		.blast_trial_header h4{
			font-size: 16px;
		}
		
		.form_details {
			display: block;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.top_message, .linkein_txt {
			font-size: 11px;
		}
		
		#subtitle .container  .sixteen h3 {
			font-size: 18px;
		}

		.blast_trial_header h4{
			font-size: 16px;
		}
		
		.form_details {
			display: block;
		}
	}
